@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 6
   Case Problem 2

   Sudoku Style Sheet
   Author: Juliann Talkington
   Date: 3/14/20

   Filename:         jpf_sudoku.css

*/

/* Table Styles */
table.spuzzle {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}
td {
  border: 5px outset gray;
  width: 33%;
}
th {
  color: gray;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* Inner Table Styles */
table.subTable {
  border-collapse: collapse;
  width: 100%;
}
table.subTable td {
  box-shadow: 0 0 15px inset;
  border: 1px solid black;
  color: blue;
  height: 40px;
  vertical-align: center;
  text-align: center;
}
td.goldBox td {
  background-color: rgb(228, 199, 42);
}

td.greenBox td {
  background-color: rgb(203, 229, 130).;
}